@charset "UTF-8";
 body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(to right,#FE1B4B ,#0B9C01,#9C4102,#16029C,#6D9CDF);
            margin: 0px;
        }

        header {
            background-color: white;
            padding: 10px;
            margin: 10px;
            border-radius: 20px 0px;
            box-shadow:3px 3px 5px 0px ;
        }
        main {
            background-color: rgb(254, 254, 254);
            padding: 10px;
            margin: 10px;
            border-radius: 20px 0px;
            box-shadow: 4px 4px 9px 0px rgb(0, 0, 0, 384);
        }

        article{
            background-color: rgb(225, 192, 192);
            padding: 20px;
        }
        article > aside{
            background-color: rbg(165, 165, 165);
            padding: 5px;
        }
        nav {
            background-color: rgb(103, 99, 99);
            padding: 3px;
            box-shadow: 2px 2px 4px rgb(0, 0, 0, 315);
            border-radius: 10px 0px;
            
        }

        nav > a {
            text-decoration: none;
            color: rgb(254, 254, 254);
            font-weight: bold;
            margin-right: 10px;
        }
        nav > a:hover{
            text-decoration: underline;
        }

        #assuntos{
            font-weight: bolder;
        }

        footer {
            background-color: rgba(0, 0, 0, 0.995);
            color: rgb(239, 234, 234);
            text-align: center;
            padding: 4px;
            margin: 0px;
        }
        footer > p {
            margin: 1px;
        }
        div#bola{
            height: 100px;
            width: 100px;
            margin: 10px;
            background-color: white;
            border-radius: 50%;
        }